<!DOCTYPE HTML>
<html>
	<head>
		
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<!---start-wrap---->
	<div class="wrap">
		<!---start-header---->
	<div class="container">



  <div class="row">
        <div class="btn-group btn-breadcrumb">
            <a href="/pages/landing" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
<!--             <a href="#" class="btn btn-info">Snippets</a>
            <a href="#" class="btn btn-info">Breadcrumbs</a> -->
            <a href="/pages/about" class="btn btn-info">About</a>
        </div>
	</div>


	<div class="content">
		<h4>About Us</h4>
			 <br>
	 <br>

		<div class="col-md-4">
		<h5> Who are we?</h5>
		<p> Since 19................
		</p>
		</div>
<div class="col-md-4">
	<h5> Why choose us?</h5>
		<p> Since 19................
		</p>
		</div>
<div class="col-md-4">
		<h5> Have a query?</h5>
		 <button class="btn btn-info " href="contact" role="button">Contact us!</button>
		</div>

</div>
</div>


<div class="footer">
		<div class="footer-left">
			 <%= link_to (image_tag "lh.jpg", class: 'image'), root_path %>
		</div>

<div class="social">
                    <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/locksandhardware/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/lockandhardware" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                       <li><a href="https://www.instagram.com/locksandhardware/" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li> 
                       </ul>
                 </div>
		
		<div class="footer-right">
			<p>Design by Ruth </p>
		</div>
		<div class="clear"> </div> 
	</div> 

