<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<!---start-wrap---->
	<div class="wrap">
		<!---start-header---->
	<div class="container"> 


  <div class="row">
        <div class="btn-group btn-breadcrumb">
            <a href="/pages/landing" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
<!--             <a href="#" class="btn btn-info">Snippets</a>
            <a href="#" class="btn btn-info">Breadcrumbs</a> -->
            <a href="/pages/contact" class="btn btn-info">Contact</a>
        </div>
	</div>

		<!---End-header---->
	<div class="clear"> </div>	
	<!---start-content---->	
	<div class="content">
		<h4>Contact</h4>

				<div class="col span_1_of_3">
					<center><h3>Contact Info</h3></center>
					<div class="address-row">
						<div class="col-md-2 address-left">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
						</div>
						<div class="col-md-10 address-right">
							<h5>Visit Us</h5>
							<p>Unit B, Merrywell Business Park, Ballymount Rd Lower, Fox-And-Geese, Dublin </p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="address-row">
						<div class="col-md-2 address-left">
							<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						</div>
						<div class="col-md-10 address-right">
							<h5>Mail Us</h5>
							<p><a href="mailto:info@example.com"> mail@example.com</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="address-row">
						<div class="col-md-2 address-left">
							<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
						</div>
						<div class="col-md-10 address-right">
							<h5>Call Us</h5>
							<p>+11 222 333 4444</p>
						</div>
						<div class="clearfix"> </div>
					</div>


			<br>
			<br>
				   	<div class="col-md-12">
                    <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/locksandhardware/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/lockandhardware" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                       <li><a href="https://www.instagram.com/locksandhardware/" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li> 
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    </ul>				
				</div>

				</div>				
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<center><h3>Make an Enquiry</h3></center>
					    <form method="post" action="contact-post.html">
					    	<div>
						    	<span><label>NAME</label></span>
						    	<span><input name="userName" type="text" class="textbox" placeholder=" Name"></span>
						    </div>
						    <div>
						    	<span><label>E-MAIL</label></span>
						    	<span><input name="userEmail" type="text" class="textbox" placeholder="Email"></span>
						    </div>
						    <div>
						     	<span><label>MOBILE</label></span>
						    	<span><input name="userPhone" type="text" class="textbox" placeholder="Phone Number"></span>
						    </div>
						    <div>
						    	<span><label>MESSAGE</label></span>
						    	<span><textarea name="userMsg" placeholder="Message"> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" value="Submit"></span>
						  </div>
					    </form>

				    </div>
  				</div>				


<div class="clearfix"></div>
				<div class="map">

		    	   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38125.045468427!2d-6.344955654212615!3d53.328659541120246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670ca4f1bf236f%3A0x3994fdd725147e01!2sLocks+%26+Hardware+Limited!5e0!3m2!1sen!2sie!4v1470413887406" width="1100" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
	  </div>
			  </div>
	</div>







	<!---End-content---->	
	<div class="clear"> </div>

	</div>
	</div>
	<!---End-wrap---->
	</body>
</html>

