<!DOCTYPE HTML>
<html>
	<head>
		
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<!---start-wrap---->
	<div class="wrap">
		<!---start-header---->
	<div class="container">



  <div class="row">
        <div class="btn-group btn-breadcrumb">
            <a href="/pages/landing" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
<!--             <a href="#" class="btn btn-info">Snippets</a>
            <a href="#" class="btn btn-info">Breadcrumbs</a> -->
            <a href="/pages/knowledge" class="btn btn-info">Knowledge</a>
        </div>
	</div>


	<div class="content">
		<h4>Products</h4>
	 <br>
	 <br>

	
<div class="product-list">
<div class="col-md-6">
<ul class="list-group">
  <li class="list-group-item"><a href="http://www.carlislebrass.com/products/accessories">Accessories</a></li>
  <li class="list-group-item"><a href="http://www.carlislebrass.com/products/door-handles">Door Handles</a></li>
  <li class="list-group-item"><a href="http://www.carlislebrass.com/products/hinges">Hinges</a></li>
  <li class="list-group-item"><a href="http://www.carlislebrass.com/products/window-fittings">Window Fittings</a></li>
  <li class="list-group-item"><a href="http://www.carlislebrass.com/products/builders-hardware">Builders Hardware</a></li>
    <li class="list-group-item"><a href="http://www.carlislebrass.com/products/cylinders">Cyliners</a></li>
  <li class="list-group-item"><a href="http://www.carlislebrass.com/products/kitchen">Cabinet Fittings</a></li>
      </div>
    <div class="col-md-6">
  <li class="list-group-item"><a href="http://www.carlislebrass.com/products/locks-and-latches">Locks & Latches</a></li>
  <li class="list-group-item"><a href="http://www.carlislebrass.com/products/door-controls">Door Controls</a>
  <li class="list-group-item"><a href="http://www.carlislebrass.com/products/door-knobs">Door knobs</a></li>
  <li class="list-group-item"><a href="http://www.carlislebrass.com/products/fire-seals">Fire & Seals</a></li>
   <li class="list-group-item"><a href="http://www.carlislebrass.com/products/bathroom-accessories-43">Bathroom Accessories</a></li>
    <li class="list-group-item"><a href="http://www.carlislebrass.com/products/emergency-exit">Panic & Emergency Exit</a></li>

</ul>
</div>

						  </div>


	

</div>
</div>
</div>
</body>
</html>

